p, li {font-family: Arial, Helvetica, sans-serif;}

h1 {
    margin-left: 10mm;
}


nav li {
    margin-right: 10mm;
}

.main-header { 
    display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #13293d;
  color: #fff;
}

.nav-list {
    display: flex;
    text-align: center;
    list-style-type: none;
    padding: 14px 20px;
}
/* ABOUT ME */

.container-1 {
    display: grid;
    grid-template-columns: 3fr 9fr;
  
}
.box-1  { 
    text-align: right;
    height: 50%;
    padding-top: 10mm;
    padding-right: 20px;
    font-size: 30pt;

}

.box-1 h2 {
    height: fit-content;
}

.box-2 {
    display: flex;
    padding: 20mm;
    border-left: 10px solid grey;
    margin: 20px auto;
}
.box-2 p {
    position: relative;
    bottom: 10%;
    max-width: 75%;
    font-size: 18pt;
}

/*RESUME*/

.container-2 {
    display: grid;
    grid-template-columns: 3fr 9fr;
    
}
.box-3  { 
    text-align: right;
    height: 50%;
    padding-top: 10mm;
    padding-right: 20px;
    font-size: 30pt;
}

.box-3 h2 {
    height: fit-content;
}

.box-4 {
    display: flex;
    padding: 20mm;
    border-left: 10px solid grey;
    margin-bottom: 20px;

}
.box-4 img {
    width: 300px;
    height: 450px;

}

.box-4 > img:hover {
    height: 800px;
    width: 500px;
}

/*PROJECTS*/

.container-3 {
    display: grid;
    grid-template-columns: 3fr 2.25fr 2.25fr 2.25fr 2.25fr;
    grid-row: auto auto;
    
}
.box-5  { 
    text-align: right;
    height: 50%;
    padding-top: 10mm;
    padding-right: 20px;
    font-size: 30pt;
}

.box-5 h2 {
    height: fit-content;
}

.box-6 {
    display: flex;
    padding: 20mm;
    border-left: 10px solid grey;       
}
.box-7 {
    display: flex;
    padding: 20mm;
        
}       
.box-8 {
    display: flex;
    padding: 20mm;
    
}
.box-9 {
    display: flex;
    padding: 20mm;
}