
p, li {font-family: Arial, Helvetica, sans-serif;}

h1 {
    margin-left: 5mm;
}


nav li {
    margin-right: 10mm;
}

nav ul li a {text-decoration:none}

a:visited{
    color: white;
  }

.main-header { 
    display: block;
  justify-content: space-between;
  padding: 20px;
  background: #13293d;
  color: #fff;
}
.peterimg {
    display: flex;
    float: right;
    top: 0%;
    height: 180px;
    width: 180px;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    list-style-type: none;
    padding: 14px 20px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}
/* ABOUT ME */

.container-1 {
    display: grid;
    grid-template-columns: 3fr 9fr;
  
}
.box-1  { 
    text-align: right;
    height: 50%;
    padding-top: 10mm;
    padding-right: 20px;
    font-size: 30pt;
}
.box-1 h2 {
    height: fit-content;
}

.box-2 {
    display: flex;
    padding: 20mm;
    border-left: 10px solid grey;
    margin: 20px auto;
}
.box-2 p {
    position: relative;
    bottom: 10%;
    max-width: 75%;
    font-size: 18pt;
}

/*RESUME*/

.container-2 {
    display: grid;
    grid-template-columns: 3fr 9fr;
    
}
.box-3  { 
    text-align: right;
    height: 50%;
    padding-top: 10mm;
    padding-right: 20px;
    font-size: 30pt;
}

.box-3 h2 {
    height: fit-content;
}

.box-4 {
    display: flex;
    padding: 20mm;
    border-left: 10px solid grey;
    margin-bottom: 20px;

}
.box-4 img {
    width: 300px;
    height: 450px;

}

.box-4 > img:hover {
    height: 800px;
    width: 500px;
}

/*PROJECTS*/

.container-3 {
    display: grid;
    grid-template-columns: 3fr 4.5fr 4.5fr;
    grid-row: auto auto;
       
}

.box-5  { 
    text-align: right;
    height: 50%;
    padding-top: 10mm;
    padding-right: 20px;
    font-size: 30pt;
}

.box-5 h2 {
    height: fit-content;
}

.box-6 {
    display: flex;
    padding: 20mm;
    border-left: 10px solid grey;
    justify-content: center;  
    height: 450px; 
    background-image: url(Horiseon.png);    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
}   

.box-6 h3 {
    color: white;
    border: solid 5px white;
    height: 20px;
}

.box-7, .box-10 {
    display: flex; 
    padding: 20mm;
    justify-content: center;
    align-self: end;
    height: 300px;
    width: 300px;
    background-image: url(https://via.placeholder.com/300);
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
}

.box-8 {
    display: flex;
    padding: 20mm;
    /* empty */
    
}
.box-9 {
    display: flex;
    padding: 20mm;
    justify-content: center;
    align-self: end;
    height: 300px;
    width: 300px;
    border-left: 10px solid grey; 
    background-image: url(https://via.placeholder.com/300);
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
}
.box-10 {
    display: flex;
    padding: 20mm;
    justify-content: center;
    align-self: end;
    height: 300px;
    width: 300px;
    background-image: url(https://via.placeholder.com/300);
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
}
.container-4 {
    display: grid;
    grid-template-columns: 3fr 9fr;
}

.box4-1 {
    text-align: right;
    height: 50%;
    padding-top: 10mm;
    padding-right: 20px;
    font-size: 30pt;
}

.box4-2 {
    display: flex;
    padding: 20mm;
    border-left: 10px solid grey;
    margin-bottom: 20px;
    font-size: 18pt;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #13293d;
    color: white;
    text-align: center;
 }

@media screen and (max-width: 600px) {
    #resume, #projects, #contactme, #amheader {font-size: 20pt;}
    #aboutme {font-size: 12pt;}
    .box-4 img {width: 200px;
                height: 300px;} 
    .main-header{width: 100%;} 
    
    .box1, .box3, .box-5, .box4-1 {
        width: 25%;
    }
    
    .box-6, .box-7, .box-9, .box-10 {
        display: block;
        flex-wrap: wrap;
        padding: 1%;
    }
    
    .container-3 {
        display: flex;
        flex-wrap: wrap;
    }
    .box-7, .box-9, .box-10 {
        position: relative;
        left: 30%;
    }
    .box-9 {
        border-left: none;
    }
}  
    
    